# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["routing"]["lo"]}}

auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto vagrant
iface vagrant inet dhcp

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{% if node[inventory_hostname].routing.bgp.underlay.external.peers is not none %}
{% for interface in node[inventory_hostname]["routing"]["bgp"]["underlay"]["external"]["peers"] %}
auto {{interface}}
iface {{interface}}
{% endfor %}
{% endif -%}

{% if node[inventory_hostname].switching.interface is not none %}
auto bridge
iface bridge
    bridge-ports {{ node[inventory_hostname]["switching"]["interface"] | join(" ") }}
    bridge-vids {{ node[inventory_hostname]["switching"]["vlans"] | join(" ") }}
    bridge-vlan-aware yes
{% endif -%}

{% if node[inventory_hostname].switching.interface is not none %}
{% for interface in node[inventory_hostname]["switching"]["interface"] %}
auto {{interface}}
iface {{interface}}
   bridge-access {{ node[inventory_hostname]["switching"]["interface"][interface].vlan }}
{% endfor %}
{% endif -%}

{% for vlanint in node[inventory_hostname]["routing"]["svi"] -%}
auto {{vlanint}}
iface {{vlanint}}
    address {{ node[inventory_hostname]["routing"]["svi"][vlanint]["ip"] }}
    vlan-id {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vlan"] }}
    vlan-raw-device bridge
{% endfor %}
